.dropdown {

    display: flex;
    background-color: #ececec;
    height: 4.2em;
    align-items: center;
    padding-left: 102px;
    margin-bottom: 0.9em;
}

.dropdown span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #47392E;
    margin-right: .6em;
}

.dropdown_orderAplhabetic {
    position: relative;
    width: 11em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
 
.dropdownButton {
    box-sizing: border-box;
    width: 162px;
    height: 36px;
    border: 2px solid #47392E;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #47392E;
}

.dropdownButton:hover{
    transform: scale(1.03);
}

.dropdownButton img {
    width: 1.1em;
    height: 1em;
    margin: 0 0 0 .2em;
    background-color: aqua;
}

.dropdown_options {
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    z-index: 100;
    top: 90%;
    width: 162px;
    background-color: #ecececdb;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #47392E;

    scrollbar-width: thin;
    scrollbar-color: #47392E #e3dada;
}


.dropdown_options li {
    cursor: pointer;
    padding-left: 10px;
}

.dropdown_weight {
    position: relative;

    width: 11em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropdown_temperaments {
    position: relative;

    width: 11em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}